@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab');



* {
    box-sizing: border-box;
 }


.topbuttom{
  text-align:center;
  vertical-align: bottom; 
  letter-spacing: 1px;
  height: 100px;
  padding: 10px;
}
.font1{
  font-family: 'Kanit-Medium';
  font-size: 30px;
  color:white;
  margin: 0%;

}



footer{
  
  background-color: #2a2a2a;
  height: 400px;
  margin-top: 5%;
}

.navigation{
  margin: 0  0 0 41%;
}

.navigation:after {
  content: " ";
  display: table;
  clear: both;
}

.navbord
{
   margin: 0 10px;
   float: left;
   height:40px;
   width: 40px;
   border: solid white 1px; 
   text-align: center;
}


.navbord img{
  margin: 20%;
}



nav div:hover{
  border:1px solid  red;

}

.emailForm form {
position: relative;
}

.emailForm form p{

  text-align: center;
 
}
.emailForm form p input{

  font-size: 18px;
  font-family: 'Hind-Light';
  
}


.emailForm{

  padding: 15px;
  font-size: 16px;
  background-color:#515151;
  border: 0px;

}
.f{
  
  margin: auto;
  width: 45%;
  
}




.redbutton{
  text-align: center;
}

form .redbutton p input
{
  
  
  border: 2px solid #515151;
  height: 60px;
  width: 150px;
  background-color: #2a2a2a;
  color: white;
  font-family: 'Kanit-Medium';
  text-align: center;
  font-size: 18px;
  transition-property: background-color;
  
}

form .redbutton p input:hover
{
  transition-duration: 1s;
  background-color: #e91811;
  border: 0;
}


.footer-text{
  margin: 0px;
  padding: 30px;
  width: 100%;
  height: 80px;
  background: #515151;
  text-align: center;
  color:#bfbfbf;
  font-family: 'Kanit-Light';
  font-size: 14px;
}

.font6
{
    font-family: 'Hind-Light';
    color:  #cecece;
    font-size: 20px;
    line-height: 1;
    position: relative;
    left: 35%;
    right: 5%;
    top: 10%;
    text-align: center;
}

.TitleSub
{
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.main-feedback
{
  margin: 5% 15% 5% 15%;
}
.main-feedback h2
{
  background-color: white;
}

.main-feedback p input
{
  font: 25px 'Roboto', sans-serif;
  width: 100%;
  height: 45px;
  border: 2px solid rgba(117, 117, 117, 0.479);
  padding: 10px;
  border-radius: 5px;
}

textarea
{
  width: 100%;
  font: 25px 'Roboto', sans-serif;
  border: 2px solid rgba(117, 117, 117, 0.486);
  padding: 10px;
  border-radius: 5px;
}

.button-feedback
{
  font: 25px 'Roboto', sans-serif;
  color: white;
  width: 100%;
  height: 40px;
  background-color: rgb(49, 124, 236);
  border: 0;
}

.button-feedback:hover
{
  cursor: pointer
}



@media(max-device-width: 420px)
{
  .All-History, .All-History img
{
  width: 600px;
}

.History, .History img
{
  width: 250px;
}
h2, h3
{
  width: 100%;
}

}